.collection-item {
  width: 22vw;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  position: relative;

  @media screen and (max-width: 400px) {
    padding: 0;
  }

  .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
    border-radius: 10px;
  }

  .custom-button {
    width: 60%;
    border-radius: 10px;
    opacity: 0.7;
    position: absolute;
    top: 235px;
    display: none;
    &::before {
      border-radius: 9px;
    }
    @media screen and (max-width: 800px) {
      display: block;
      opacity: 0.8;
      min-width: unset;
      padding: 0 10px;
    }
  }

  &:hover {
    .image {
      opacity: 0.8;
    }

    .custom-button {
      opacity: 0.85;
      display: block;
    }
  }

  .collection-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #10375c;

    .name {
      width: 70%;
      margin-bottom: 15px;
    }

    .price {
      width: 30%;
      text-align: end;
      font-weight: bold;
      color: #f3c623;
    }
  }
  @media screen and (max-width: 1200px) {
    width: 100%;
  }
  @media screen and (max-width: 800px) {
    &:hover {
      .image {
        opacity: unset;
      }
      button {
        opacity: unset;
      }
    }
  }
}
